@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}
.imagenGrande{
    height: 50px;

}
h1{
    width: 100%;
    text-align:center;
    padding: 1em;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section div {
    width: 210px;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #fff;
}

section div h3{
    margin: 0.5em 0em;
}

section div h4{
    font-size: 0.875em;
    margin: 0.5em 0em;
    color:#333;
    font-weight: normal;
}

section div .button{
    width: 100%;
    border: none;
    padding: 0.7em;
    background-color: #000;
    color: #fff;
    margin: 0.5em 0em;
}

section div:hover{
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0,0,0,0.5);
}

img{
    width: 100%;
}

/*barra de navegación*/
nav.navegacion{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(73, 99, 105);
    align-items: center; justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center; gap: 10px;
    width: 100px;
    height: 80px;
    cursor: pointer; 
}
nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
nav ul {
    width: 960px;
    margin: auto;
    padding: 0;
    float: right;
}
nav ul li {
    line-height: 35px;
    display: inline-block;
    padding-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

/*menu mobile */
#check_menu, .navegacion label {
    display:none;
}
@media (max-width:1280px ){
    .navegacion__nav label{
        width: 70%;
    }
}

@media (max-width:768px ){
    .navegacion__nav label{
        display: block;
    }
    .navegacion__nav{
        display: none;
    }

    #check_menu:checked~.navegacion__nav{
        background-color: #b3b686;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}
@media (max-width:420px){
    .contenedorPadreIndex1{
        width: 100%;
        height: 0;
    }
    .imgGrande{
        width: 450px;
    height: 300px;
    }
.productos{
    grid-template-columns: 1fr;
    
}
}
/*pseudoclases*/
.nav_item:hover{
    background-color: #829fa3;
    border-radius: 4px;
}
.nav_item:active{
    background-color: #242e30;
    border-radius: 4px; 
}
.nav_item:active a{
   color: #4990d3;
}
:root{
    --color-esqueleto:#EFF3F5;
}
.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}
footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}